{% extends 'basic.html' %}
{% block css %}
.col-md-3
{
display: inline-block;
margin-left:-4px;
}

.carousel-indicators .active {
background-color: blue;
}

.col-md-3 img{

width:265;
height:265;
}

body .carousel-indicator li{
background-color: blue;
}

body .carousel-indicators{
bottom: 0;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}
{% endblock %}

{% block body %}
{% load static %}
<div class="container">
    <h1>ForEver Living Products</h1>
    <div id="demo" class="carousel slide my-3" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>

            {% for i in range %}
            <li data-target="#demo" data-slide-to="{{i}}" ></li>
            {% endfor %}
        </ul>

        <!--Slideshow starts here -->
        <div class="container carousel-inner no-padding">

            <div class="carousel-item active">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src='/media/{{product.0.image}}' class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{product.0.product_name}}</h5>
                            <p class="card-text">{{product.0.desc}}</p>

                        </div>
                    </div>
                </div>


                {% for i in product|slice:"1:"%}
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{i.product_name}}</h5>
                            <p class="card-text">{{i.desc}}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
            </div><div class="carousel-item">
            {% endif %}

            {% endfor %}
        </div>



        </div>
    </div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>


    {% endblock %}
</div>
© 2020-2021 CodeWithHarry.com

B






<!--<div class="container">-->
<!--    <h1 class="display-1">ForEver Living Products</h1>-->
<!--    <div id="demo" class="carousel slide my-3" data-ride="carousel">-->
<!--        <ul class="carousel-indicators">-->
<!--            <li data-target="#demo" data-slide-to="0" class="active"></li>-->
<!--            <li data-target="#demo" data-slide-to="1" ></li>-->
<!--            <li data-target="#demo" data-slide-to="2" ></li>-->
<!--        </ul>-->

<!--        &lt;!&ndash;Slideshow starts here &ndash;&gt;-->
<!--        <div class="container carousel-inner no-padding">-->

<!--            <div class="carousel-item active">-->
<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                    <div class="card" style="width: 18rem;">-->
<!--                        <img src='{% static "base.jpeg" %}' class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Infinite Fore Ever</h5>-->
<!--                            <p class="card-text">Infinite by forever target aging from the inside out and the outside in with revolutionary formulas designed to hydrate skin.</p>-->
<!--                            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                    <div class="card" style="width: 18rem;">-->
<!--                        <img src='{% static "base1.jpeg" %}' class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Aloe-Jojoba Shampo</h5>-->
<!--                            <p class="card-text">Aloe naturally supplies saponins which help create a gentle lather. Jojoba gives a Keratinizing effect that brings out the hairs natural color and brilliance.</p>-->
<!--                            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                    <div class="card" style="width: 18rem;">-->
<!--                        <img src='{% static "base2.jpeg" %}' class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Bee Honey</h5>-->
<!--                            <p class="card-text"> Honey has been revered for its healthful and nutritional properties ,Enjoy it as a natural energy source</p>-->
<!--                            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                    <div class="card" style="width: 18rem;">-->
<!--                        <img src='{% static "base3.jpeg" %}' class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Aloe Vera Gel</h5>-->
<!--                            <p class="card-text"> Pure inner leaf aloe with no preservatives for an experience as close to nature as you can get</p>-->
<!--                            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->



<!--            <div class="carousel-item">-->
<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                    <div class="card" style="width: 18rem;">-->
<!--                        <img src='{% static "base4.jpeg" %}' class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">C Plus</h5>-->
<!--                            <p class="card-text">Vitamin C free radicals and benefits the skin and connective tissue. Boost your body</p>-->
<!--                            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                    <div class="card" style="width: 18rem;">-->
<!--                        <img src='{% static "base5.jpeg" %}' class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Sonya Fore Ever</h5>-->
<!--                            <p class="card-text">Give new meaning to the term "beauty sleep". Scientifically formulated to optimize the way your skin functions at night.</p>-->
<!--                            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->


<!--        </div>-->

<!--        &lt;!&ndash; left and right controls for the slide &ndash;&gt;-->
<!--        <a class="carousel-control-prev" href="#demo" data-slide="prev">-->
<!--            <span class="carousel-control-prev-icon"></span>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" href="#demo" data-slide="next">-->
<!--            <span class="carousel-control-next-icon"></span>-->
<!--        </a>-->

